.filter-sort {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto, auto);
    align-items: center;
    gap: 0.5rem;
    padding: 2rem;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 24vw;
    max-height: auto;
    margin: 0 auto;
}

.filter-label {
    font-weight: 600;
    color: var(--secondary-text-color);
    margin-bottom: 0.5rem;

}

.filter-input,
.filter-select {
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid #ddd;
    width: 100%;
    box-sizing: border-box;
    transition: 0.3s ease;
    height: 2rem;
}

.filter-select {
    cursor: pointer;
    height: 2.2rem;
}

.filter-select:focus {
    outline: none;
    border-color: var(--secondary-text-color);
    box-shadow: 0 0 5px var(--secondary-text-color);
}