---
import fetchBeers from "../lib/fetchBeers";

import BaseLayout from "./../layouts/BaseLayout.astro";
import BeerCard from "./../components/BeerCard.astro";
import BeerFilter from "./../components/BeerFilter.astro";

import "../styles/global.css";

const beers = await fetchBeers();
const uniqueBreweries = [
  ...new Set(beers.map((beer) => beer.Brewery?.Name).filter(Boolean)),
];
const uniqueStyles = [
  ...new Set(beers.map((beer) => beer.Style).filter(Boolean)),
];
const minScore = Math.min(...beers.map((beer) => beer.Average_score));
const maxScore = Math.max(...beers.map((beer) => beer.Average_score));
const pageTitle = "Beers";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <BeerFilter />
    <div id="beer-list" class="beer-list">
      {beers.map((beer) => <BeerCard beer={beer} key={beer.id} />)}
    </div>
  </main>
</BaseLayout>

<script src="/src/scripts/beersFilter.js"></script>

<style>
  .beer-list {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    padding: 2rem;
  }

  @media (max-width: 768px) {
    #beer-filter {
      flex-direction: column;
      padding: 1rem;
    }

    #beer-filter select {
      width: 100%;
    }

    .beer-card {
      width: 100%;
      max-width: 350px;
    }
  }
</style>
