---
import fetchBeers from "../lib/fetchBeers";

import BaseLayout from "../layouts/BaseLayout.astro";
import BeerCard from "../components/BeerCard.astro";
import BeerFilter from "../components/BeerFilter.astro";

import "../styles/global.css";

const beers = await fetchBeers();
const uniqueBreweries = [
  ...new Set(beers.map((beer) => beer.Brewery?.Name).filter(Boolean)),
];
const uniqueStyles = [
  ...new Set(beers.map((beer) => beer.Style).filter(Boolean)),
];
const minScore = Math.min(...beers.map((beer) => beer.Average_score));
const maxScore = Math.max(...beers.map((beer) => beer.Average_score));
const pageTitle = "Beers";
---

<BaseLayout pageTitle={pageTitle}>
  <section class="page-intro">
    <h1>Beers</h1>
  </section>
  <BeerFilter />
  <div id="beer-list" class="list">
    {beers.map((beer) => <BeerCard beer={beer} key={beer.id} />)}
  </div>
</BaseLayout>

<script src="/src/scripts/beersFilter"></script>

<style>
  .page-intro {
    text-align: center;
    max-width: 10rem;
    margin: auto;
    margin-bottom: 2rem;
    padding: 0.5rem;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .page-intro h1 {
    margin: 0;
  }
</style>
