---
import fetchBreweries from "./../lib/fetchBreweries";

import BaseLayout from "../layouts/BaseLayout.astro";
import BreweryCard from "../components/BreweryCard.astro";
import BreweryFilter from "../components/BreweryFilter.astro";

import "../styles/global.css";

const breweries = await fetchBreweries();

const pageTitle = "Breweries";
---

<BaseLayout pageTitle={pageTitle}>
    <main>
        <BreweryFilter />

        <section id="breweriesList" class="breweries-list">
            {
                breweries.map((brewery) => (
                    <BreweryCard
                        pageTitle={pageTitle}
                        brewery={brewery}
                        key={brewery.id}
                    />
                ))
            }
        </section>
    </main>
</BaseLayout>

<script src="/src/scripts/breweriesFilter"></script>
