---
import fetchAllBeers from "../lib/fetchBeers.ts";

import BaseLayout from "../layouts/BaseLayout.astro";
import BeerCard from "../components/BeerCard.astro";

import "../styles/global.css";

const beers = await fetchAllBeers();

const randomBeer = beers[Math.floor(Math.random() * beers.length)];

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>
  <main>
    <section class="intro">
      <h1>Welcome to my beer collection</h1>
      <p>
        As a proud Belgian, I have a deep appreciation for our beers — all of
        them. However, there's no denying that some beers stand out as truly
        exceptional. That's why I started using Untappd a few years ago. Untappd
        is an app with an extensive database of beers from around the world.
        Whenever I try a new beer, I log it in the app and give it a rating. On
        this website, I’m excited to share some of the beers I've tasted over
        the years. Feel free to explore! You might discover a few beers you
        haven't tried yet.
      </p>
    </section>
    <section class="random-beer">
      <h2>Random Suggestion</h2>
      <BeerCard beer={randomBeer} />
    </section>
  </main>
</BaseLayout>

<style>
  .intro {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .intro h1 {
    font-size: 2rem;
    color: #333;
  }

  .intro p {
    font-size: 1rem;
    line-height: 1.5;
    color: #666;
    margin-top: 1rem;
  }

  .random-beer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
  }

  @media (max-width: 768px) {
    .intro {
      padding: 1rem;
    }

    .beer-card {
      padding: 1rem;
      width: 90%;
    }
  }
</style>
