---
import fetchApi from "../lib/strapi";

import Header from "./../components/Header.astro"

const fetchAllBeers = async () => {
  const pageSize = 25;
  let page = 1;
  let allBeers = [];

  let fetchMore = true;
  while (fetchMore) {
    const beersPage = await fetchApi<Beer[]>({
      endpoint: `beers?populate=*&pagination[page]=${page}&pagination[pageSize]=${pageSize}`,
      wrappedByKey: "data",
    });

    allBeers = [...allBeers, ...beersPage];

    if (beersPage.length < pageSize) {
      fetchMore = false;
    } else {
      page++;
    }
  }

  return allBeers;
};

const breweries = await fetchApi<Brewery[]>({
  endpoint: "brewery?populate=*",
  wrappedByKey: "data",
});

const beers = await fetchAllBeers();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyBeers</title>
  </head>
  <body>
    <Header />
    <main>

    </main>
  </body>
</html>
