---
import fetchAllBeers from "../lib/fetchBeers.ts";

import BaseLayout from "../layouts/BaseLayout.astro";
import RandomBeer from "../components/RandomBeer.astro";

import "../styles/global.css";

const beers = await fetchAllBeers();

const randomBeer = beers[Math.floor(Math.random() * beers.length)];

const pageTitle = "Home";
---

<BaseLayout pageTitle={pageTitle}>

  <div class="layout">
    <section class="page-intro">
      <h1>Welcome to my beer collection</h1>
      <p>
        As a proud Belgian, I have a deep appreciation for our beers — all of
        them. However, there's no denying that some beers stand out as truly
        exceptional. That's why I started using Untappd a few years ago. Untappd
        is an app with an extensive database of beers from around the world.
        Whenever I try a new beer, I log it in the app and give it a rating. On
        this website, I’m excited to share some of the beers I've tasted over
        the years. Feel free to explore! You might discover a few beers you
        haven't tried yet.
      </p>
    </section>
    <a class="beers-button" href="./beers/">Continue to the beers</a>
    <a class="breweries-button" href="./breweries/">Continue to the breweries</a>

    <section class="random-beer">
      <h2>Random Suggestion</h2>
      <RandomBeer beer={randomBeer} />
    </section>
  </div>
</BaseLayout>

<style>
  .layout {
    margin-left: 20%;
    margin-right: 20%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
  }

  .page-intro {
    grid-column: 1 / 4;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    background-color: var(--card-background-color);
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .beers-button,
  .breweries-button {
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;

    border: 0px solid var(--secondary-text-color);
    background-color: var(--primary-yellow);
    border-radius: 8px;
    height: 4rem;
    width: 80%;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  }

  .beers-button {
    justify-self: end;
  }

  .breweries-button {
    justify-self: start;
  }

  .beers-button:hover,
  .breweries-button:hover {
    transform: translateY(-6px);
    color: var(--card-background-color);
    background-color: var(--secondary-text-color);
    
  }

  .random-beer {
    grid-row: 2;
    grid-column: 2;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    padding: 2rem;
  }
</style>
