---
import fetchApi from "../lib/strapi";
import type Beer from "../interfaces/beers";
import type Brewery from "../interfaces/breweries";

const beers = await fetchApi<Beer[]>({
	endpoint: "beers?populate=*",
	wrappedByKey: "data",
});
const breweries = await fetchApi<Brewery[]>({
	endpoint: "brewery?populate=*",
	wrappedByKey: "data",
});

console.log(beers[10]);
---

<!doctype html>
<html lang="en">
	<head>
		<title>Strapi & Astro</title>
	</head>
	<body>
		<main>
			<ul>
				{ beers.map((beer) => (
						<li>
							<a href={`/beer/${beer.id}/`}>
								<h2>{beer.Name}</h2>
							</a>
						</li>
				))}
			</ul>
		</main>
	</body>
</html>
