---
import "./../styles/filter.css";
---

<div class="filter-sort">
    <label for="sort-select" class="filter-label"><p>Sort By:</p></label>
    <select id="sort-select" name="sort" class="filter-select">
        <option value="name">Name (A-Z)</option>
        <option value="name_">Name (Z-A)</option>
        <option value="brewery">Brewery (A-Z)</option>
        <option value="brewery_">Brewery (Z-A)</option>
        <option value="score">Score (Ascending)</option>
        <option value="score_">Score (Descending)</option>
    </select>

    <label for="brewery-filter" class="filter-label"><p>Search Brewery:</p></label>
    <input id="brewery-filter" type="text" placeholder="Enter brewery name" class="filter-input" />

    <label for="style-filter" class="filter-label"><p>Search Style:</p></label>
    <input id="style-filter" type="text" placeholder="Enter beer style" class="filter-input" />

    <label for="min-score-filter" class="filter-label"><p>Min. Average Score:</p></label>
    <input id="min-score-filter" type="number" min="0" max="5" step="0.1" class="filter-input" />

    <label for="max-score-filter" class="filter-label"><p>Max. Average Score:</p></label>
    <input id="max-score-filter" type="number" min="0" max="5" step="0.1" class="filter-input" />
</div>
