---
import "./../styles/filter.css";
---

<div class="filter-sort">
    <label for="sortOrder" class="filter-label"><p>Sort by Name:</p></label>
    <select id="sortOrder" class="filter-select">
        <option value="az">A-Z</option>
        <option value="za">Z-A</option>
    </select>
</div>