<footer>
 <p>Wanna see all my beers? Check my Untappd account right <a href="https://untappd.com/user/snilstabadder1302">here</a>!</p>
</footer>

<style>
    footer {
        height: 4vh;
        align-self: end;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--primary-yellow);
        padding: 1rem 2rem;
        box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
    }
</style>
