---

---

<header>
    <nav>
        <ul>
            <li><a href="/">MyBeers</a></li>
            <li><a href="../../beers">Beers</a></li>
            <li><a href="../../breweries">Breweries</a></li>
        </ul>
    </nav>
</header>
